@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
    box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: #f5f3df;
  background-image: url("/assets/foodiegoodieBckgr.png");
  background-size: 100%;
}
h1, h2, h3{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  
}
p, ul, li, footer{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
header {
  background-color: #C8E594;
  position: relative;
}
.nav_container{
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -35px;
}

.nav_container ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 200px;
  padding: 10px;
  background-color: #f5f3df;
  border-radius: 50px;
  border: 2px solid black;
}

.nav_container ul li {
  display: inline;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
}
.nav_container ul li a{
  text-decoration: none;
  color: black;
}

.nav_container ul li a:hover {
  color: #d68c5d;
  transition: 0.3s;
}

.logo_container{
  display: block;
  margin: 0 auto;
  position: relative; 
  margin-left: 520px;
  z-index: 10; 
  top: 40px;
}
.footer_container{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px; 
  justify-content: center;
  background-color: #f5f3df;
  color: gray;
  margin-top: 100px;

}

.home_container{
  margin: 0%;
  padding: 0%;
}
.hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f3df;
    background-image: url('/assets/foodiegoodieBanner.png');
    border: 2px solid black;
    background-size: 102%;
    border-radius: 50px;
    margin: 20px;
    padding: 40px;
    color: black;
 
}

.hero h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  
}

.hero p, .hero h1{
  margin-left: 300px;
}

.recipes_container{
  max-width: 1200px;
  margin: 0 auto;
}
.recipes_container h2{
  text-align: center;
  background: #E6AF8C;
  border: 2px solid black;
  font-weight: 700;
  padding: 10px;
  border-radius: 50px;
}

.recipes_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe_card{
  display: flex;
  flex-direction: column;
  background-color: #f5f3df;
  border: 2px solid black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 8px 8px 0px black;

}

.recipe_card h3{
font-size: 1.2rem;
    text-align: center;
    margin: 10px 15px;
}

.recipe_card a{
    display: block;
    text-align: center;
    background-color: #E6AF8C;
    color: white;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: auto;
}
.recipe_card a svg {
  display: inline-block;
}

.recipe_card a:hover {
    background-color: #d68c5d;
}

@media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .logoContainer img {
      width: 250px;
    }
  
    .toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
      }
    
      nav {
        display: none;
      }
    
      nav.active {
        display: block;
        position: absolute;
        top: 80px;
        left: 5%;
        width: 90%;
        border-radius: 50px;
        z-index: 50;
      }
    
      nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        background-color:#03030377;
        border: none;
        margin-top: 65px;
      }
    
      nav ul li {
        text-align: center;
        background-color:#f5f3df;
        border-radius: 50px;
      }

  
    .hero {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding: 20px;
      background-size: 367%;
    }
  
    .hero h1, .hero p {
      margin-left: 0;
    }
  
    .hero-image img {
      width: 100%;
      margin: auto;
    }

    .recipes_container h2{
        margin: 2%;
    }
  
    .recipesGrid {
      grid-template-columns: 1fr;
    }
  
  
    footer {
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 844px) and (orientation: landscape) {
    .hero p, .hero h1{
        margin-left: 140px;
    }
  }